body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #000000;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    
    margin-bottom: 20px;
}

.tablinks {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background-color: inherit;
    border-bottom: 3px solid transparent;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
    border-bottom: 3px solid #007bff;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main-info {
    width: 48%;
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

/* 기본 테이블 스타일 */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;  /* 줄넘김을 방지하는 스타일 */
}

.custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.custom-table td {
    background-color: #ffffff;
}

.custom-table tbody tr:nth-child(even) td {
    background-color: #f9f9f9;
}

/* 테이블 헤더 색상 및 글꼴 굵기 */
.custom-table thead th {
    background-color: #e9ecea;
    color: black;
}


/* 라이트 컬럼 스타일 */
/* .right-column {
    margin-top: 20px;
} */

h2 {
    margin-top: 20px;
}



/* 버튼 스타일 */
.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #45a049;
}

/* 폼 스타일 */
form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}


.right-column {
    width: 48%;
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.edit-mode{
    width: 80%;
    margin: 0 auto;
}

.edit-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.editProjectDetailsForm{
    width: 80%;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    height: 100px;
    resize: none;
}

button[type="submit"] {
    grid-column: span 2;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.custom-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.custom-table td {
    background-color: white;
}

/* 테이블 내 링크 스타일 */
td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}